.control-panel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: left;
  box-sizing: border-box;
  font-family: {{ FONT_FAMILY }};
  font-size: {{ FONT_SIZE }};
}

.control-panel * {
  box-sizing: border-box;
}

.control-panel input,
.control-panel button,
.control-panel select {
  border-radius: 0;
  padding: 0 0 0 .5em;
  vertical-align: top;
  font-family: {{ FONT_FAMILY }};
  font-size: {{ FONT_SIZE }};
}

.control-panel input[type="range"] {
  padding: 0;
}

.control-panel a {
  color: inherit;
  text-decoration: none;
}

.control-panel-container:after {
  content: attr(data-help);
  display: block;
  color: {{ HELP_COLOR }};
  margin-left: 36%;
}