.control-panel {
  font-family: 'Hack', monospace;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.control-panel input {
  font-family: 'Hack';
  font-size: 11px;
}