input[type="checkbox"].control-panel-checkbox-{{ UUID }} {
  display: none;
  cursor: pointer;
}

input[type=checkbox].control-panel-checkbox-{{ UUID }} + label:before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: 0px;
  vertical-align:middle;
  margin-right: .8em;
  margin-top: .15em;
  background-color: {{ BOX_COLOR }};
  border-radius: 0px;
  cursor: pointer;
}

input[type=checkbox]:checked.control-panel-checkbox-{{ UUID }}  + label:before {
  width: 2em;
  height: 2em;
  box-shadow: inset 0 0 0 .4em {{ BOX_COLOR }};
  background-color: {{ ICON_COLOR }};
  cursor: pointer;
}