input[type="checkbox"].control-panel-checkbox-{{ UUID }} {
  display:none;
  cursor: pointer;
}

input[type=checkbox].control-panel-checkbox-{{ UUID }} + label:before {
  content: "";
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  padding: 0px;
  vertical-align:middle;
  margin-right: .8em;
  margin-top: .2em;
  background-color: {{ BOX_COLOR }};
  border-radius: 0px;
  cursor: pointer;
}

input[type=checkbox]:checked.control-panel-checkbox-{{ UUID }}  + label:before {
  width: 1em;
  height: 1em;
  background-color: {{ ICON_COLOR }};
  border: solid .4em {{ BOX_COLOR }};
  cursor: pointer;
}