.control-panel-select-{{ UUID }}-dropdown {
  display: inline-block;
  position: absolute;
  width: 64%;
  padding-left: 1.5%;
  height: 2em;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance:none;
  appearance:none;
  font-family: inherit;
  background-color: {{ BG_COLOR }};
  color: {{ TEXT_COLOR }};
}
.control-panel-select-{{ UUID }}-dropdown::-ms-expand {
  display:none;
}
.control-panel-select-{{ UUID }}-triangle {
  content: ' ';
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  line-height: 2em;
  position: absolute;
  right: 2.5%;
  z-index: 1;
}
.control-panel-select-{{ UUID }}-triangle--down {
  top: 1.1em;
  border-top: .5em solid {{ TEXT_COLOR }};
  border-bottom: .0 transparent;
}
.control-panel-select-{{ UUID }}-triangle--up {
  top: .4em;
  border-bottom: .5em solid {{ TEXT_COLOR }};
  border-top: 0px transparent;
}
