.sp {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: left;
	box-sizing: border-box;
	font-family: sans-serif;
	max-width: 100%;

	/** position-specific props */
	position: relative;
	font-size: 1rem;
	width: 32em;
	padding: 1em;
	box-shadow: 0 1em 3em -.1em rgba(10, 5, 23, .15);
	background: white;
}

.sp [hidden] {
	display: none!important;
}

.sp * {
	box-sizing: border-box;
}

.sp svg {
	fill: currentColor;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.sp input,
.sp button,
.sp textarea,
.sp select {
	font-family: inherit;
	font-size: inherit;
}

.sp textarea {
	max-height: 8em;
}

.sp a {
	color: inherit;
}


.sp-title {
	font-size: 1.6em;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 0;
	padding: .25em .25em;
	text-align: center;
}
.sp--collapsible .sp-title {
	cursor: pointer;
}
.sp--collapsed > *:not(.sp-title) {
	display: none!important;
}



/** Panel positions */
.sp--center {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.sp--right, .sp--top-right {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
}
.sp--bottom-right {
	position: fixed;
	z-index: 1;
	right: 0;
	bottom: 0;
}
.sp--right {
	bottom: 0;
}
.sp--left, .sp--top-left {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
}
.sp--bottom-left {
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 0;
}


/** Fields */
.sp-field {
	position: relative;
	padding: .25em;
	display: table;
	width: 100%;
}
.sp-field:last-child {
	margin-bottom: 0;
}
.sp-label {
	left: 0;
	display: table-cell;
	line-height: 1.2;
	vertical-align: baseline;
	padding-top: 0;
	max-width: 100%;
}
.sp-input {
	display: table-cell;
	vertical-align: baseline;
	position: relative;
	white-space: nowrap;
}

.sp-orientation-left .sp-label {
	width: 9em;
	padding-right: .5em;
}
.sp-orientation-right .sp-label {
	display: block;
	margin-right: 0;
	float: right;
	width: 9em;
	padding-top: .4em;
	padding-left: .5em;
}
.sp-orientation-right .sp-label + .sp-input {
	display: block;
	width: calc(100% - 9em);
}
.sp-orientation-top .sp-label {
	display: block;
	width: 100%;
	margin-right: 0;
	padding-top: 0;
	line-height: 1.5;
}
.sp-orientation-top .sp-label + .sp-input {
	display: block;
	width: 100%;
	padding: 0;
}
.sp-orientation-bottom .sp-label {
	display: block;
	width: 100%;
	margin-right: 0;
	padding: 0;
	line-height: 1.5;
	border-top: 2.5em solid transparent;
}
.sp-orientation-bottom .sp-label + .sp-input {
	width: 100%;
	position: absolute;
	top: 0;
}

.sp-orientation-left > .sp-label {
	width: 9em;
	display: table-cell;
}


/** Button */
.sp-field--button {
	display: inline-block;
}
.sp-field--button .sp-input {
	display: block;
	text-align: center;
}
.sp-button {
	vertical-align: baseline;
	line-height: 1;
	min-height: 2em;
	padding: .2em 1em;
	width: 100%;
	cursor: pointer;
}


/** Default text and alike style */
.sp-text {
	height: 2em;
	width: 100%;
	vertical-align: baseline;
}
.sp-textarea {
	width: 100%;
	display: block;
	vertical-align: top; /* allowable as we use autoheight */
	min-height: 2em;
}

/** Checkbox style */
.sp-field--checkbox .sp-input {
	line-height: 2em;
}
.sp-checkbox-group {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	white-space: normal;
}
.sp-checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	margin: -.15em .25em 0 0;
}
.sp-checkbox-label {
	display: inline-block;
	vertical-align: baseline;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.2;
	margin-right: 1em;
}
.sp-checkbox-group .sp-checkbox-label:last-child {
	margin-right: 0;
}


/** Color picker style */
.sp-color {
	position: relative;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.sp-color-value {
	width: 100%;
	height: 2em;
	padding: 0 0 0 2.5em;
}
.sp .Scp {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	bottom: -120px;
}
.sp .Scp-saturation {
	position: relative;
	width: calc(100% - 25px);
	height: 100%;
	background: linear-gradient(to right, #fff 0%, #f00 100%);
	float: left;
}
.sp .Scp-brightness {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000 0%, rgba(255,255,255,0) 100%);
}
.sp .Scp-sbSelector {
	border: 1px solid;
	position: absolute;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 10px;
	top: -7px;
	left: -7px;
	box-sizing: border-box;
	z-index: 10;
}
.sp .Scp-hue {
	width: 20px;
	height: 100%;
	position: relative;
	float: left;
	background: linear-gradient(to bottom, #f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}
.sp .Scp-hSelector {
	position: absolute;
	background: #fff;
	border-bottom: 1px solid #000;
	right: -3px;
	width: 10px;
	height: 2px;
}



/** Interval style */
.sp-interval {
	position: relative;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: top;
	height: 2em;
	margin: 0px 0;
	width: 70%;
	background: #ddd;
	cursor: ew-resize;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sp-interval-handle {
	background: #7a4;
	position: absolute;
	top: 0;
	bottom: 0;
	min-width: 1px;
}
.sp.sp-interval-dragging * {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;

	cursor: ew-resize !important;
}

.sp-interval + .sp-value {
	right: 0;
	padding-left: .5em;
}



/** Select style */
.sp-select {
	display: inline-block;
	width: 100%;
	height: 2em;
	vertical-align: baseline;
}

/** Value style */
.sp-value {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	min-width: 3em;
	padding: 0 0 0 0em;
	display: inline-block;
	vertical-align: baseline;
	cursor: text;
	height: 2em;
	border: none;
	border-radius: 0;
	outline: none;
	font-family: inherit;
	background: none;
	color: inherit;
	width: 15%;
}
.sp-value:focus {
	outline: 0;
	box-shadow: 0;
}
.sp-value-tip {
	display: none;
}

/** Range style */
.sp-range {
	width: 85%;
	padding: 0;
	margin: 0px 0;
	height: 2em;
	vertical-align: top;
}
.sp-range + .sp-value {
	padding-left: .5em;
	width: 15%;
}

.sp-switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
	line-height: 2em;
}
.sp-switch-input {
	margin: 0;
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	margin-right: .25em;
}
.sp-switch-label {
	display: inline-block;
	vertical-align: baseline;
	line-height: 1.2;
	margin-right: 1em;
}


.sp hr {
	border: none;
	height: 0;
	margin: .5em 0;
	border-bottom: 1px dotted;
}

.sp-field--disabled {
	opacity: .5;
	pointer-events: none;
}
