.settings-panel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: left;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 1rem;
	width: 40em;
	padding: 1em;
}

.settings-panel * {
	box-sizing: border-box;
}

.settings-panel input,
.settings-panel button,
.settings-panel textarea,
.settings-panel select {
	border-radius: 0;
	vertical-align: top;
	font-family: inherit;
	font-size: inherit;
}

.settings-panel input[type="range"] {
	padding: 0;
}

.settings-panel a {
	color: inherit;
	text-decoration: none;
}

.settings-panel-field {
	position: relative;
	min-height: 2em;
	line-height: 2;
	padding-bottom: .5em;
	clear: both;
}
.settings-panel-field:after {
	content: attr(data-help);
	display: block;
	margin-left: 33%;
	font-size: .8em;
}
.settings-panel-label {
	left: 0;
	width: calc(33% - .5em);
	padding-top: .4em;
	display: inline-block;
	line-height: 1.25;
	vertical-align: top;
}
.settings-panel-input {
	display: inline-block;
	vertical-align: top;
	width: 67%;
	position: relative;
	min-height: 2em;
}



.settings-panel-title {
	width: 100%;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1em;
}


/** Button style */
.settings-panel-button {
	color: white;
	background-color: black;
	text-align: center;
	height: 2em;
	padding: 0 2em;
	border: none;
	cursor: pointer;
}
.settings-panel-button:hover {
	color: black;
	background-color: white;
}
.settings-panel-button:active {
	color: black;
	background-color: white;
}


/** Default text and alike style */
.settings-panel-text {
	height: 2em;
	width: 100%;
	border: none;
	font-family: inherit;
}
.settings-panel-text:focus {
	outline: none;
}

.settings-panel-textarea {
	min-height: 2em;
	width: 100%;
	border: 0;
	padding-top: .4em;
}
.settings-panel-text:focus {
	outline: none;
}

/** Checkbox style */
.settings-panel-checkbox {
	display: none;
}
.settings-panel-checkbox-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(20% - .5em);
	height: 2em;
	cursor: pointer;
	background-color: gray;
	-webkit-transition: .4s;
	transition: .4s;
}
.settings-panel-checkbox-label:before {
	position: absolute;
	content: "";
	height: 1.2em;
	width: 1.2em;
	left: .4em;
	bottom: .4em;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.settings-panel-checkbox:checked + .settings-panel-checkbox-label {
	background-color: rgb(36,37,38);
	box-shadow: none;
}
.settings-panel-checkbox:focus + .settings-panel-checkbox-label {
	box-shadow: 0 0 1px rgb(36,37,38);
}
.settings-panel-checkbox:checked + .settings-panel-checkbox-label:before {
	-webkit-transform: translateX(2em);
	-ms-transform: translateX(2em);
	transform: translateX(2em);
	box-shadow: none;
	background-color: white;
}



/** Color picker style */
.settings-panel-color {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(20% - .5em);
	height: 2em;
}
.settings-panel-color + .settings-panel-value {
	width: 80%;
	margin-left: .5em;
}
.Scp {
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	margin-top: 2em;
	position: absolute;
	z-index: 10;
	cursor: pointer;
}
.Scp-saturation {
	position: relative;
	width: calc(100% - 25px);
	height: 100%;
	background: linear-gradient(to right, #fff 0%, #f00 100%);
	float: left;
}
.Scp-brightness {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000 0%, rgba(255,255,255,0) 100%);
}
.Scp-sbSelector {
	border: 1px solid;
	position: absolute;
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 10px;
	top: -7px;
	left: -7px;
	box-sizing: border-box;
	z-index: 10;
}
.Scp-hue {
	width: 20px;
	height: 100%;
	position: relative;
	float: left;
	background: linear-gradient(to bottom, #f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}
.Scp-hSelector {
	position: absolute;
	background: #fff;
	border-bottom: 1px solid #000;
	right: -3px;
	width: 10px;
	height: 2px;
}



/** Interval style */
.settings-panel-interval {
	-webkit-appearance: none;
	position: absolute;
	height: 2em;
	margin: 0px 0;
	width: 60%;
	left: 20%;
	background-color: gray;
	cursor: ew-resize;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.settings-panel-interval .settings-panel-interval-handle {
	background-color: black;
	position: absolute;
	height: 2em;
	min-width: 1px;
}
.settings-panel.settings-panel-interval-dragging * {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;

	cursor: ew-resize !important;
}

.settings-panel-interval ~ .settings-panel-value {
	width: calc(20% - .5em);
}
.settings-panel-interval + .settings-panel-value  + .settings-panel-value {
	right: 0;
}




/** Range style */
.settings-panel-range {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 80%;
	padding: 0;
	margin: 0px 0;
	height: 2em;
}
.settings-panel-range:focus {
	outline: none;
}
.settings-panel-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 2em;
	cursor: ew-resize;
	background: gray;
}
.settings-panel-range::-webkit-slider-thumb {
	height: 2em;
	width: 1em;
	background: black;
	border: 0;
	cursor: ew-resize;
	-webkit-appearance: none;
	margin-top: 0px;
}
.settings-panel-range:focus::-webkit-slider-runnable-track {
	background: gray;
	outline: none;
}
.settings-panel-range::-moz-range-track {
	width: 100%;
	height: 2em;
	cursor: ew-resize;
	background: gray;
}
.settings-panel-range::-moz-range-thumb {
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	height: 2em;
	width: 1em;
	background: black;
	cursor: ew-resize;
}
.settings-panel-range::-ms-track {
	width: 100%;
	height: 2em;
	cursor: ew-resize;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.settings-panel-range::-ms-fill-lower {
	background: gray;
}
.settings-panel-range::-ms-fill-upper {
	background: gray;
}
.settings-panel-range::-ms-thumb {
	width: 1em;
	border-radius: 0px;
	border: 0;
	background: black;
	cursor: ew-resize;
	height: 2em;
}
.settings-panel-range:focus::-ms-fill-lower {
	background: gray;
	outline: none;
}
.settings-panel-range:focus::-ms-fill-upper {
	background: gray;
	outline: none;
}

.settings-panel-range + .settings-panel-value {
	width: calc(20% - .5em);
	margin-left: .5em;
}


/** Select style */
.settings-panel-select {
	display: inline-block;
	width: 100%;
	padding-left: 1.5%;
	height: 2em;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance:none;
	font-family: inherit;
	background-color: gray;
	color: black;
}
.settings-panel-select::-ms-expand {
	display:none;
}
.settings-panel-select-triangle {
	content: ' ';
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
	line-height: 2em;
	position: absolute;
	right: 2.5%;
	z-index: 1;
}
.settings-panel-select-triangle--down {
	top: 1.1em;
	border-top: .5em solid black;
	border-bottom: .0 transparent;
}
.settings-panel-select-triangle--up {
	top: .4em;
	border-bottom: .5em solid black;
	border-top: 0px transparent;
}


/** Value style */
.settings-panel-value {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	padding: 0 0 0 .5em;
	display: inline-block;
	cursor: text;
	display: inline-block;
	position: absolute;
	height: 2em;
	border: none;
	border-radius: 0;
	outline: none;
	font-family: inherit;
	background-color: gray;
	color: black;
}
.settings-panel-value:focus {
	outline: 0;
	box-shadow: 0;
}



/** Switch style */
.settings-panel-switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: top;
	display: inline-block;
	border: none;
	margin: 0;
	border-radius: 0;
	padding: 0;
	height: auto;
	background: none;
	vertical-align: top;
	border: none;
	position: relative;
}

.settings-panel-switch-input {
	display: none;
}

.settings-panel-switch-label {
	position: relative;
	height: 2em;
	line-height: 2em;
	width: 4em;
	z-index: 2;
	float: left;
	text-align: center;
	cursor: pointer;
}

.settings-panel-switch-input:checked + .settings-panel-switch-label {
	background: gray;
}